<div style="text-align: -webkit-center;">
    <h1></h1>

    <mat-card class="example-card">
        <mat-card-header style="inline-size: max-content;">
            <div mat-card-avatar class="example-header-image"
                style="background-image: url(../../assets/images/Personal-loan-header.jpg);"></div>
            <mat-card-title style="text-align: center;">Loans</mat-card-title>
            <mat-card-subtitle>Personal Loans</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/images/Personal-Loan.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                Personal Loans are very useful financial instruments provided by banks and NBFCs (Non-Banking Finance
                Companies) to customers. Personal loans are used normally for emergency purposes like medical expenses,
                home renovation, home furnishing, marriage expenses, as well as for purchase of vehicles and
                electronics. The amount available for personal loan depends on the credit worthiness of customers, which
                is determined by credit scores.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" routerLink="/loan">Personal Loans</button>
        </mat-card-actions>
    </mat-card>

    <br />

</div>